:root {
  color: var(--color-text-primary);
  background: var(--color-surface-base);
}

body {
  margin: 0;
  background: var(--color-surface-base);
  color: var(--color-text-primary);
  font-family: var(--font-body);
}

main {
  padding: var(--space-structure-24);
}

.display {
  font-family: var(--type-display-xl-family);
  font-weight: var(--type-display-xl-weight);
  font-size: var(--type-display-xl-size);
  line-height: var(--type-display-xl-line);
}

.body {
  font-family: var(--type-body-l-family);
  font-weight: var(--type-body-l-weight);
  font-size: var(--type-body-l-size);
  line-height: var(--type-body-l-line);
}
